{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Price: ${{product.price}}</p>
    <p>Status:
        {%if product.in_stock%}
        (in stock)
        {%else%}
        (out of stock)
        {% endif %}

    </p>

    <a href="{% url 'product_list' %}">Back to product list</a>
    <br><br>
    <h2>Recently Viewed</h2>
    {% if recent_products %}
        <ul>
            {% for p in recent_products %}
                <li>
                    <a href="{% url 'product_detail' p.pk %}">{{ p.name }}</a>
                    - ${{ p.price }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recently viewed products yet.</p>
    {% endif %}

</body>
</html>    
