*{
    color: rgb(120, 192, 255);
    margin: 0px;
    padding: 0px;
}    
    
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(51, 80, 91, 0.618);
    padding: 20px;
}


h1{
    text-align: center;
}

form{
    max-width: 500px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 8px;
    padding: 20px;   
}

div{
    padding: 5px;
    margin: 10px;
    width: 500px;
}

/* span{
    color: white !important;
} */